<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 loginBlock">
        <div class="mat-elevation-z4">
            <mat-card class="example-card">
                <h3 class="text-center">Login</h3>
                <mat-card-content>
                    <form>
                        <div class="row">

                            <mat-form-field>
                                <mat-label>UserName/Email</mat-label>
                                <input type="email" name="email" id="email" matInput [(ngModel)]="emailId">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input type="password" name="password" id="password" matInput [(ngModel)]="password">
                            </mat-form-field>


                            <a href="#" style="text-align: right;"><span class="text-right">Forget
                                    Password?</span></a>
                        </div>
                    </form>
                </mat-card-content>
                <div class="text-center">
                    <button mat-raised-button color="primary" (click)="onLogin()">Login</button>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="col-md-4">

    </div>

</div>